@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 9 9 11;
  --fg: 244 244 245;
  --accent: 34 197 94;
  --muted: 63 63 70;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
